<!-- SECTION: GOALS/ACHIEVEMENTS -->
<section class="high-padding white-section">
    <div class="container">
        <!-- TITLE + SUBTITLE section -->
        <div class="relative section-header">
            <h2 class="section-title">Goals &amp; Achievements</h2>
            <p>Achievements are now made easy using Political WordPress Theme! Share the news and press<br />releases to your focus group and complete causes using donations.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/LIZW5trdE5o?rel=0"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="spacer_10"></div>
                <h2>100 Goals Accomplished so far</h2>
                <p>In 2017, President Elected and his crew said he would accomplish a lot of goals(160) sed vitae lorem vel arcu imperdiet.</p>
                <p>Nullam non efficitur purus. Sed vitae lorem vel arcu imperdiet ullamcorper. Ut quis odio est. In vestibulum dignissim nisl. Vitae lorem vel arcu imperdiet ullamcorper. Ut quis odio est. In vestibulum dignissim nisl.</p>
                <p><img width="100" alt="" src="img/Elements/signature.png"></p>
            </div>
        </div>
    </div>
</section>