<!-- SECTION: GOALS/ACHIEVEMENTS -->
<section class="high-padding white-section">
    <div class="container">
        <!-- TITLE + SUBTITLE section -->
        <div class="relative section-header">
            <h2 class="section-title">История</h2>
            <p>15 сентября 1939 года считается днем рождения Московского Южного речного порта. Интенсивное развитие Южный порт получил в послевоенные особенно в период с 1948 по 1955 годы. С 1996 года Южный речной порт входит в состав группы компаний "Московское речное пароходство".</p>
                <p><a href="#" target="_blank" class="btn btn-default">Подробнее</a></p>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-3wb4f-nbxQ?start=3"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="spacer_10"></div>
                <h2>О компании</h2>
                <p>«Южный речной порт» является крупным транспортным предприятием,
                имеющим успешный опыт во всех сферах работ, осуществляемых на внутренних речных путях Российской Федерации – перевозки, погрузо-разгрузочные работы, обслуживание транспортных нужд промышленности, строительства и торговли.</p>
                <p><img width="100" alt="" src="/assets/img/Elements/signature.png"></p>
            </div>
        </div>
    </div>
</section>