<!-- SECTION: INSTAGRAM FEED -->
<section>
    <div id="tslr_instagram_feed" class="tslr_instagram_feed row">
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="/assets/img/instagram-feed/insta_01.jpg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="/assets/img/instagram-feed/insta_02.jpg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="/assets/img/instagram-feed/insta_03.jpg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="/assets/img/instagram-feed/insta_04.jpg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="/assets/img/instagram-feed/insta_05.jpg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="/assets/img/instagram-feed/insta_06.jpg">
                </a>
            </div>
        </div>
    </div>
</section>