<!-- SECTION: GET INVOLVED -->
<section class="section-bg" data-image-src="/assets/img/header-banners/banner-donate.jpg">
    <!-- HEADER CONTENT -->
    <div class="amaezi_header_content dark-texts">
        <h3 class="amaezi_header_title">Get Involved Through Donations</h3>
        <div class="spacer_30"></div>
        <p class="amaezi_header_subtitle">In 2017, President Elected and his crew said he would accomplish a lot of goals(160) sed vitae lorem vel arcu imperdiet. Nullam non efficitur purus. Sed vitae lorem vel arcu imperdiet ullamcorper.</p>
        <div class="spacer_30"></div>
        <a class="btn tslr-btn btn-primary" href="#">CONTRIBUTE TODAY</a>
    </div>
</section>