<!-- SECTION: GET INVOLVED -->
<section class="section-bg" data-image-src="/assets/img/header-banners/bg1.jpg">
    <!-- HEADER CONTENT -->
    <div class="amaezi_header_content dark-texts">
        <h3 class="amaezi_header_title">Наша задача — сохранение предприятия как грузового порта</h3>
        <div class="spacer_30"></div>
        <p class="amaezi_header_subtitle">Основной задачей, которая стоит перед нами, является сохранение предприятия как грузового порта, а не просто застройка всей территории развлекательными центрами.</p>
        <div class="spacer_30"></div>
        <a class="btn tslr-btn btn-primary" href="#">Подробнее</a>
    </div>
</section>