<section class="high-padding gray-section">
    <div class="container">
        <!-- TITLE + SUBTITLE section -->
        <div class="relative section-header animateIn" data-animate="fadeIn">
            <h2 class="section-title">Новости <span style="color: #E3111A">ЮРП</span></h2>

        </div>
        <!-- Blog posts section -->
        <div class="items-wrap blog_posts_list blog-posts-shortcode">
            <div class="posts-list grid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                <div class="col-md-12 post-thumbnail">
                                    <figure class="effect-lexi">
                                        <img src="/assets/img/gallery/1.jpg" alt=""/>
                                        <figcaption>
                                            <i class="icon-arrow-right-circle"></i>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-12 post-details">
                                    <div class="post-details-holder">
                                        <h3 class="post-title text-center"><a href="/">Early voting data in 3 key states show spike</a></h3>
                                        <div class="more-post-details text-center">
                                            <a class="more-link" href="/"><i class="icon-user"></i> Jim Hauzi</a>
                                            <a class="more-link" href="/"><i class="icon-clock"></i> 12/01/2017</a>
                                        </div>
                                        <p class="post-excerpt text-center">Nam auctor id nisi ut tempus. Aenean pulvinar ex sit amet dolor euismod.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                <div class="col-md-12 post-thumbnail">
                                    <figure class="effect-lexi">
                                        <img src="/assets/img/gallery/2.jpg" alt=""/>
                                        <figcaption>
                                            <i class="icon-arrow-right-circle"></i>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-12 post-details">
                                    <div class="post-details-holder">
                                        <h3 class="post-title text-center"><a href="/">Senate Races Flooded With Parliament</a></h3>
                                        <div class="more-post-details text-center">
                                            <a class="more-link" href="/"><i class="icon-user"></i> Jim Hauzi</a>
                                            <a class="more-link" href="/"><i class="icon-clock"></i> 12/01/2017</a>
                                        </div>
                                        <p class="post-excerpt text-center">Nam auctor id nisi ut tempus. Aenean pulvinar ex sit amet dolor euismod.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                <div class="col-md-12 post-thumbnail">
                                    <figure class="effect-lexi">
                                        <img src="/assets/img/gallery/3.jpg" alt=""/>
                                        <figcaption>
                                            <i class="icon-arrow-right-circle"></i>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-12 post-details">
                                    <div class="post-details-holder">
                                        <h3 class="post-title text-center"><a href="/">President: We'll defeat enemy parties</a></h3>
                                        <div class="more-post-details text-center">
                                            <a class="more-link" href="/"><i class="icon-user"></i> Jim Hauzi</a>
                                            <a class="more-link" href="/"><i class="icon-clock"></i> 12/01/2017</a>
                                        </div>
                                        <p class="post-excerpt text-center">Nam auctor id nisi ut tempus. Aenean pulvinar ex sit amet dolor euismod.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>