<section class="high-padding gray-section">
    <div class="container">
        <!-- TITLE + SUBTITLE section -->
        <div class="relative section-header animateIn" data-animate="fadeIn">
            <h2 class="section-title">Новости</h2>

        </div>
        <!-- Blog posts section -->
        <div class="items-wrap blog_posts_list blog-posts-shortcode">
            <div class="posts-list grid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                <div class="col-md-12 post-thumbnail">
                                    <figure class="effect-lexi">
                                        <img src="/assets/img/news/1.jpg" alt=""/>
                                        <figcaption>
                                            <i class="icon-arrow-right-circle"></i>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-12 post-details">
                                    <div class="post-details-holder">
                                        <h3 class="post-title text-center"><a href="/">Грузооборот на сентябрь 2018 года</a></h3>
                                        <div class="more-post-details text-center">
                                            <a class="more-link" href="/"><i class="icon-clock"></i> 12/11/2018</a>
                                        </div>
                                        <p class="post-excerpt text-center">Грузооборот Южного речного порта за 9 месяцев 2018 года составил 1 033 тыс.тонн.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                <div class="col-md-12 post-thumbnail">
                                    <figure class="effect-lexi">
                                        <img src="/assets/img/news/2.jpg" alt=""/>
                                        <figcaption>
                                            <i class="icon-arrow-right-circle"></i>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-12 post-details">
                                    <div class="post-details-holder">
                                        <h3 class="post-title text-center"><a href="/">Открыта навигация 2018 года</a></h3>
                                        <div class="more-post-details text-center">
                                            <a class="more-link" href="/"><i class="icon-clock"></i> 01/05/2018</a>
                                        </div>
                                        <p class="post-excerpt text-center">Открылась навигация 2018 года для судов, прибывающих в Москву через шлюзы канала имени Москвы.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="single-post clearfix animateIn" data-animate="fadeIn">
                                <div class="col-md-12 post-thumbnail">
                                    <figure class="effect-lexi">
                                        <img src="/assets/img/news/3.jpg" alt=""/>
                                        <figcaption>
                                            <i class="icon-arrow-right-circle"></i>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-12 post-details">
                                    <div class="post-details-holder">
                                        <h3 class="post-title text-center"><a href="/">Габаритный груз метрополитена</a></h3>
                                        <div class="more-post-details text-center">
                                            <a class="more-link" href="/"><i class="icon-clock"></i> 04/10/2017</a>
                                        </div>
                                        <p class="post-excerpt text-center">На специализированном причале для тяжеловесных грузов теплоход «Окский-58» из Санкт-Петербурга.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>