<!-- SECTION: OUR SERVICES -->
<section class="high-padding gray-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- SERVICES SHORTCODE -->
                <div class="row services-shortcode">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-right"><strong>Clean HTML &amp; CSS Code</strong></h3>
                                <p class="text-right">Nullam non efficitur purus. Sed vitae lorem vel arcu imperdiet ullamcorper. Ut quis odio est. In vestibulum dignissim nisl.</p>
                            </div>
                        </div>
                        <div class="spacer_20"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-right"><strong>Well Documented Template</strong></h3>
                                <p class="text-right">Nullam non efficitur purus. Sed vitae lorem vel arcu imperdiet ullamcorper. Ut quis odio est. In vestibulum dignissim nisl.</p>
                            </div>
                        </div>
                        <div class="spacer_20"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-right"><strong>Multiple Home Variants</strong></h3>
                                <p class="text-right">Nullam non efficitur purus. Sed vitae lorem vel arcu imperdiet ullamcorper. Ut quis odio est. In vestibulum dignissim nisl.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="/assets/img/content/features.jpg" alt="" class="img-rounded" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-left"><strong>Pixel Perfect Design</strong></h3>
                                <p class="text-left">Nullam non efficitur purus. Sed vitae lorem vel arcu imperdiet ullamcorper. Ut quis odio est. In vestibulum dignissim nisl.</p>
                            </div>
                        </div>

                        <div class="spacer_20"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-left"><strong>Retina Ready Icons</strong></h3>
                                <p class="text-left">Nullam non efficitur purus. Sed vitae lorem vel arcu imperdiet ullamcorper. Ut quis odio est. In vestibulum dignissim nisl.</p>
                            </div>
                        </div>
                        <div class="spacer_20"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-left"><strong>Fancy Gallery Included</strong></h3>
                                <p class="text-left">Nullam non efficitur purus. Sed vitae lorem vel arcu imperdiet ullamcorper. Ut quis odio est. In vestibulum dignissim nisl.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>