<!-- SECTION: OUR SERVICES -->
<section class="high-padding gray-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- SERVICES SHORTCODE -->
                <div class="row services-shortcode">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-right"><strong>Складские услуги</strong></h3>
                                <p class="text-right">Для осуществления обработки и хранения грузов Южный речной порт использует несколько типов складских помещений.</p>
                            </div>
                        </div>
                        <div class="spacer_20"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-right"><strong>Аренда и хранение грузов</strong></h3>
                                <p class="text-right">Предлагаем в аренду офисные и складские помещения, открытые, оборудованные ж.д. путями и портальными кранами.</p>
                            </div>
                        </div>
                        <div class="spacer_20"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-right"><strong>Погрузо-разгрузочные работы</strong></h3>
                                <p class="text-right">Разгрузка-погрузка судов и ж/д платформ осуществляется портальными кранами.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="/assets/img/content/features.jpg" alt="" class="img-rounded" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-left"><strong>Нерудно-строительные материалы</strong></h3>
                                <p class="text-left">ОАО «ЮЖНЫЙ РЕЧНОЙ ПОРТ» предлагает намывной речной песок, добытый на реке Волга в районе г.Тверь, г. Калязин.</p>
                            </div>
                        </div>

                        <div class="spacer_20"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-left"><strong>Флот</strong></h3>
                                <p class="text-left">На балансе порта находятся 9 судов и барж.</p>
                            </div>
                        </div>
                        <div class="spacer_20"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-left"><strong>Характеристики порта</strong></h3>
                                <p class="text-left">Причальная стенка протяженностью 2178 м, 17 причалов, в том числе 1 для тяжеловесных грузов, 28 портальных кранов грузоподъемностью 5-40 тонн.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>