<!-- SECTION: OUR WORK -->
<section class="section-bg" data-image-src="/assets/img/content/footer_bg-1.jpg">

    <!-- HEADER CONTENT -->
    <div class="amaezi_header_content">
        <h3 class="amaezi_header_title">We Work Transparent &amp; Hard</h3>
        <div class="spacer_10"></div>
        <p class="amaezi_header_subtitle">In 2017, President Elected completed 90% of its promises.</p>
        <div class="spacer_50"></div>

        <div class="container">
            <div class="row">
                <!-- STARTING TABS -->
                <div class="tabs tabs-style-flip col-md-7">
                    <nav>
                        <ul>
                            <li><a href="#section-tab-1"><i class="icon-heart icons"></i> <span>Donate</span></a></li>
                            <li><a href="#section-tab-2"><i class="icon-calendar icons"></i> <span>Events</span></a></li>
                            <li><a href="#section-tab-3"><i class="icon-list icons"></i> <span>Agenda</span></a></li>
                        </ul>
                    </nav>
                    <div class="content-wrap">
                        <section id="section-tab-1">
                            <h3><strong>Join the Crowd. Be Unite!</strong></h3>
                            <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus</p>
                            <p>Aliquam ut, faucibus non, aliquam ut, faucibus non faucibus non, euismod id, nulla. Fusce fermentum odio</p>
                            <div class="spacer_10"></div>
                            <img src="/assets/img/gallery/3.jpg" alt="" />
                        </section>
                        <section id="section-tab-2">
                            <h3><strong>19th of June - Election Campaign</strong></h3>
                            <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut.</p>
                            <h3><strong>1rd of September - Senate Campaign</strong></h3>
                            <p>Cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut onec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt.</p>
                            <div class="spacer_10"></div>
                            <img src="/assets/img/gallery/1.jpg" alt="" />
                        </section>
                        <section id="section-tab-3">
                            <h3><strong>Join the Crowd. Be Unite!</strong></h3>
                            <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut, faucibus non faucibus non, euismod id, nulla. Fusce fermentum odio</p>
                            <div class="spacer_10"></div>
                            <img src="/assets/img/gallery/5.jpg" alt="" />
                        </section>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-accordion-1">Why Us?</a>
                                </h4>
                            </div>
                            <div id="collapse-accordion-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut, faucibus non faucibus.</p>
                                    <ul>
                                        <li>Standing in front of the Senate;</li>
                                        <li>Approving Good Laws;</li>
                                        <li>Changind the Education System;</li>
                                        <li>Gathering Staff Together;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-accordion-2">Future Party Goals</a>
                                </h4>
                            </div>
                            <div id="collapse-accordion-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut, faucibus non faucibus.</p>
                                    <ul>
                                        <li>Standing in front of the Senate;</li>
                                        <li>Approving Good Laws;</li>
                                        <li>Changind the Education System;</li>
                                        <li>Gathering Staff Together;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-accordion-3">Past Achievements</a>
                                </h4>
                            </div>
                            <div id="collapse-accordion-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut, faucibus non faucibus.</p>
                                    <ul>
                                        <li>Standing in front of the Senate;</li>
                                        <li>Approving Good Laws;</li>
                                        <li>Changind the Education System;</li>
                                        <li>Gathering Staff Together;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-accordion-4">Future Laws?</a>
                                </h4>
                            </div>
                            <div id="collapse-accordion-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut, faucibus non faucibus.</p>
                                    <ul>
                                        <li>Standing in front of the Senate;</li>
                                        <li>Approving Good Laws;</li>
                                        <li>Changind the Education System;</li>
                                        <li>Gathering Staff Together;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-accordion-5">Why Vote For Us?</a>
                                </h4>
                            </div>
                            <div id="collapse-accordion-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut, faucibus non faucibus.</p>
                                    <ul>
                                        <li>Standing in front of the Senate;</li>
                                        <li>Approving Good Laws;</li>
                                        <li>Changind the Education System;</li>
                                        <li>Gathering Staff Together;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-accordion-6">Want to Join Us?</a>
                                </h4>
                            </div>
                            <div id="collapse-accordion-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce fermentum odio nec arcu integer tincidunt cras ultricies sem orci lectus, aliquam ut, faucibus non, aliquam ut, faucibus non faucibus non, euismod id, nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>