<section class="high-padding white-section">
    <div class="container">
        <!-- TITLE + SUBTITLE section -->
        <div class="relative section-header animateIn" data-animate="fadeIn">
            <h2 class="section-title">President's Cabinet</h2>
            <p>A Well Trained Cabinet help easy using Political Template! Share the news and press releases<br /> to your focus group and complete charity causes using donations.</p>
        </div>
        <!-- Blog posts section -->
        <div class="items-wrap blog_posts_list blog-posts-shortcode">
            <div class="posts-list grid">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="row">
                            <img src="/assets/img/members/member_05-1.jpg" class="img-circle width_80" alt="" />
                            <div class="team-member-text text-center width_90">
                                <h3 class="team-member-title">Marzia Rossi</h3>
                                <div class="team-member-position">Senator</div>
                                <p class="team-member-details">Duis vel nibh at velit scelerisque suscipit. Curabitur blandit mollis lacus. Proin viverra</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="row">
                            <img src="/assets/img/members/member_05-3.jpg" class="img-circle width_80" alt="" />
                            <div class="team-member-text text-center width_90">
                                <h3 class="team-member-title">Marzia Rossi</h3>
                                <div class="team-member-position">Vice-President</div>
                                <p class="team-member-details">Duis vel nibh at velit scelerisque suscipit. Curabitur blandit mollis lacus. Proin viverra</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="row">
                            <img src="/assets/img/members/member_05-4.jpg" class="img-circle width_80" alt="" />
                            <div class="team-member-text text-center width_90">
                                <h3 class="team-member-title">Marzia Rossi</h3>
                                <div class="team-member-position">Party Chief</div>
                                <p class="team-member-details">Duis vel nibh at velit scelerisque suscipit. Curabitur blandit mollis lacus. Proin viverra</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="row">
                            <img src="/assets/img/members/member_05-6.jpg" class="img-circle width_80" alt="" />
                            <div class="team-member-text text-center width_90">
                                <h3 class="team-member-title">Marzia Rossi</h3>
                                <div class="team-member-position">Accountant</div>
                                <p class="team-member-details">Duis vel nibh at velit scelerisque suscipit. Curabitur blandit mollis lacus. Proin viverra</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>