<!-- SECTION: TESTIMONIALS -->
<section class="high-padding white-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- TITLE + SUBTITLE section -->
                <div class="relative section-header text-center animateIn" data-animate="fadeIn">
                    <h2 class="section-title">Contributor's Testimonials</h2>
                    <p>Testimonials are always a good source of quality infos.</p>
                </div>
                <!-- Testimonials -->
                <div>
                    <div class="testimonials_slider owl-carousel owl-theme animateIn" data-animate="fadeIn">
                        <div class="item">
                            <div class="testimonial-content">
                                <h4>
                                    <img src="/assets/img/testimonials/1.jpg" alt="" />
                                    <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Gold Donor</span>
                                </h4>
                                <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <h4>
                                    <img src="/assets/img/testimonials/2.jpg" alt="" />
                                    <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Platinum Donor</span>
                                </h4>
                                <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <h4>
                                    <img src="/assets/img/testimonials/3.jpg" alt="" />
                                    <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Diamond Donor</span>
                                </h4>
                                <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <h4>
                                    <img src="/assets/img/testimonials/2.jpg" alt="" />
                                    <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Starter Donor</span>
                                </h4>
                                <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <h4>
                                    <img src="/assets/img/testimonials/3.jpg" alt="" />
                                    <span class="testimonial-author">Jacob Luiz</span> <span class="testimonial-job">- Charity Donor</span>
                                </h4>
                                <p>When faith and hope fail, as they do sometimes, we must try charity, which is love in action. We must speculate no more on our duty, but simply do it. When we have done it, however blindly, perhaps Heaven will show us why.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>