<!-- SECTION: TESTIMONIALS -->
<section class="high-padding white-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- TITLE + SUBTITLE section -->
                <div class="relative section-header text-center animateIn" data-animate="fadeIn">
                    <h2 class="section-title">Из первых рук</h2>
                    <p>Руководство о положении в отрасли и предприятии</p>
                </div>
                <!-- Testimonials -->
                <div>
                    <div class="testimonials_slider owl-carousel owl-theme animateIn" data-animate="fadeIn">
                        <div class="item">
                            <div class="testimonial-content">
                                <h4>
                                    <img src="/assets/img/testimonials/1.jpg" alt="" />
                                    <span class="testimonial-author">Б. Касимов</span> <span class="testimonial-job">- Генеральный директор</span>
                                </h4>
                                <p>Предприятие, стабильно работающее. За прошедшие десять лет новыми собственниками очень многое было сделано для нормализации работы порта, восстановления техники, увеличения доходности работы, производительности труда, а также привлечения молодого квалифицированного персонала.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <h4>
                                    <img src="/assets/img/testimonials/2.jpg" alt="" />
                                    <span class="testimonial-author">К. Анисимов</span> <span class="testimonial-job">- председатель Совета директоров</span>
                                </h4>
                                <p>Ежегодно в России списывается от 500 судов до 1 000 судов, а строится 10 – 20. Количество флота будет только убывать, и без мер государственной поддержки при сезонности в 4-5 месяцев работы для пассажирского флота и в 6 месяцев для грузового у нас не получится развивать отрасль!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>