<!-- HEADER -->
<header class="amaezi-fullscreen-header section-bg" data-image-src="/assets/img/content/footer_bg-2.jpg">

    <!-- HEADER OVERLAY
    <div class="amaezi-header-overlay"></div>-->

    <!-- Header Video -->
    <!-- <div class='youtube-video'></div>
    <a class="youtube-player" data-property="{videoURL:'Tl8E1DzJ0bo',containment:'.youtube-video',autoPlay:true, mute:true, startAt:0, opacity:1,ratio:'16/9',showControls:false,showYTLogo:false}"></a> -->

    <!-- HEADER CONTENT -->
    <div class="amaezi_header_content">
        <h1 class="amaezi_header_title">Your Candidate for a Perfect Campaign</h1>
        <div class="post-details-list text-center">
            <span class="post-author post-date">By<a href="#">Josua McJonny</a>on February 25, 2017</span>
        </div>
    </div>
</header>