<!-- FOOTER -->
<footer class="footer">
    <div class="row footer-top animateIn" data-animate="fadeIn">
        <div class="container">
            <div class="high-padding row">
                <div class="widget widget_text col-md-6">

                        <h3 class="widget-title">ЮЖНЫЙ РЕЧНОЙ ПОРТ</h3>

                    <div class="spacer_10"></div>

                    <p style="padding-right:20px;">Открытое акционерное общество «Южный речной порт» является крупным транспортным предприятием, имеющим успешный опыт во всех сферах работ, осуществляемых на внутренних речных путях Российской Федерации - – перевозки, погрузо-разгрузочные работы, обслуживание транспортных нужд промышленности, строительства и торговли.</p>
                    <div class="spacer_15"></div>

                </div>
                <div class="widget widget_nav_menu col-md-3">
                    <h3 class="widget-title row">Новости</h3>
                    <ul class="widget_blog_posts row">
                        <li>
                            <div class="col-md-3 no_gap post-thumbnail relative">
                                <a href="#">
                                    <img alt="" width="70" class="img-rounded" src="/assets/img/news/1.jpg">
                                </a>
                            </div>
                            <div class="col-md-9 post-details">
                                <a href="#">Грузооборот на сентябрь 2018 года</a>
                                <div class="clearfix"></div>
                                <span class="post-date">Окт 18, 2018</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-3 no_gap post-thumbnail relative">
                                <a href="#">
                                    <img alt="" width="70" class="img-rounded" src="/assets/img/news/2.jpg">
                                </a>
                            </div>
                            <div class="col-md-9 post-details">
                                <a href="#">Открыта навигация 2018 года</a>
                                <div class="clearfix"></div>
                                <span class="post-date"> Апр 24, 2018</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="widget widget_nav_menu col-md-3">
                    <h3 class="widget-title">Контакты</h3>
                    <!--<img src="/assets/img/Elements/world_map.png" alt="" />-->
                    <div class="row">
                            <div class="col-md-6 widget widget_text">
                                <p>Коммерческий отдел</p>
                            </div>
                            <div class="col-md-6 widget widget_text">
                                <p><i class="icon-phone icons" style="color:white"></i>+7(499)<br/>652-93-47</p>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 widget widget_text">
                            <p>Отдел продаж</p>
                        </div>
                        <div class="col-md-6 widget widget_text">
                            <p><i class="icon-phone icons" style="color:white"></i>+7(495)<br/>771-76-80</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 widget widget_text">
                            <p>Секретариат</p>
                        </div>
                        <div class="col-md-6 widget widget_text">
                            <p><i class="icon-phone icons" style="color:white"></i>+7(495)<br/>771-73-09</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-bottom">
        <a class="amaezi-top" href="#body">
            <i class="fa fa-angle-up"></i>
        </a>
        <div class="container">
            <div class="row animateIn" data-animate="fadeIn">
                <div class="copyright-informations text-left col-md-6">
                    ОАО "Южный речной порт" г. Москва
                </div>
                <div class="text-right col-md-6">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="/">Главная</a>
                        </li>
                        <li class="menu-item">
                            <a href="/">Новости</a>
                        </li>
                        <li class="menu-item">
                            <a href="/">Флот</a>
                        </li>
                        <li class="menu-item">
                            <a href="/">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>