<!-- FOOTER -->
<footer class="footer">
    <div class="row footer-top animateIn" data-animate="fadeIn">
        <div class="container">
            <div class="high-padding row">
                <div class="widget widget_text col-md-6">
                    <a href="#" class="footer-logo">
                        <img src="/assets/img/theme_logo_light.png" alt="" />
                    </a>
                    <div class="spacer_10"></div>

                    <p>Political HTML blandit lectus vitae convallis. Ut ipsum enim, consectetur at lobortis at, sagittis vel nisl. Nam non maximus elit, at sollicitudin mi. Donec ut tortor varius, feugiat ante venenatis, efficitur mauris. </p>
                    <p>Sagittis vel nisl. Nam non maximus elit, at sollicitudin mi. Donec ut tortor varius, feugiat ante venenatis, efficitur mauris. </p>
                    <div class="spacer_15"></div>

                    <!-- SOCIAL LINKS -->
                    <aside class="widget widget_social_links">
                        <div class="social_links">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-dribbble"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-stumbleupon"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </aside>
                </div>
                <div class="widget widget_nav_menu col-md-3">
                    <h3 class="widget-title">Political Offices</h3>
                    <img src="/assets/img/Elements/world_map.png" alt="" />
                </div>
                <div class="widget widget_nav_menu col-md-3">
                    <h3 class="widget-title row"> From The Blog</h3>
                    <ul class="widget_blog_posts row">
                        <li>
                            <div class="col-md-3 no_gap post-thumbnail relative">
                                <a href="#">
                                    <img alt="" class="img-rounded" src="/assets/img/content/fundraising_activism_33-70x70.jpg">
                                </a>
                            </div>
                            <div class="col-md-9 post-details">
                                <a href="#">New Education During National LMS Day</a>
                                <div class="clearfix"></div>
                                <span class="post-date">July 18, 2017</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-3 no_gap post-thumbnail relative">
                                <a href="#">
                                    <img alt="" class="img-rounded" src="/assets/img/content/fundraising_activism_11-70x70.jpg">
                                </a>
                            </div>
                            <div class="col-md-9 post-details">
                                <a href="#">Stitching Together A New Life</a>
                                <div class="clearfix"></div>
                                <span class="post-date">July 18, 2017</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-bottom">
        <a class="amaezi-top" href="#body">
            <i class="fa fa-angle-up"></i>
        </a>
        <div class="container">
            <div class="row animateIn" data-animate="fadeIn">
                <div class="copyright-informations text-left col-md-6">
                    Made with <i class="icon-heart fa faa-tada faa-fast animated"></i> in Europe by ThemeSLR
                </div>
                <div class="text-right col-md-6">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Blog</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Donations</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Purchase</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>