<div class="row">

    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left left-side" style="height: 35px;">
                    <a href="#">
                        <i class="icon-phone icons"></i> Phone:
                        <label>+34-2345-3456</label>
                    </a>
                    <a href="#">
                        <i class="icon-location-pin icons"></i> Address:
                        <label>93L, Str. J. Martin, Rome</label>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 text-right right-side">
                    <ul class="social-links">
                        <li class="facebook">
                            <a href="http://facebook.com">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/envato">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="googleplus">
                            <a href="http://plus.google.com">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="youtube">
                            <a href="http://youtube.com">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li class="pinterest">
                            <a href="http://pinterest.com">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="http://linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="skype">
                            <a href="politicalwp">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="http://instagram.com">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="dribbble">
                            <a href="http://dribbble.com">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="deviantart">
                            <a href="http://deviantart.com">
                                <i class="fa fa-deviantart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="navbar-brand" href="home-image.html">
                    <img alt="logo" src="/assets/img/theme_logo_dark.png">
                </a>
            </div>
            <div class="col-md-9 fundraising-contact-details">
                <div class="header-nav-actions">
                    <!-- DONATIONS BUTTON -->
                    <a class="donate-now" href="#">
                        Contribute
                    </a>
                </div>
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#theme-main-nav-menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="theme-main-nav-menu">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="home-image.html">Home</a></li>
                            <li><a href="what-we-fight-for.html">What We Fight For</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
                                <ul class="dropdown-menu">
                                    <li><a href="gallery-2-columns.html"><i class="icon-picture icons"></i> Gallery 2 Columns</a></li>
                                    <li><a href="gallery-3-columns.html"><i class="icon-picture icons"></i> Gallery 3 Columns</a></li>
                                    <li><a href="gallery-4-columns.html"><i class="icon-picture icons"></i> Gallery 4 Columns</a></li>
                                    <li><a href="gallery-mixed-columns.html"><i class="icon-grid icons"></i> Gallery Mixed Columns</a></li>
                                    <li><a href="gallery-instagram-3-columns.html"><i class="icon-social-instagram icons"></i> Instagram 3 Columns</a></li>
                                    <li><a href="gallery-instagram-4-columns.html"><i class="icon-social-instagram icons"></i> Instagram 4 Columns</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="home-image.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="our-sponsors.html"><i class="icon-user-following icons"></i> Our Sponsors</a></li>
                                    <li><a href="become-contributor.html"><i class="icon-heart icons"></i> Become Contributor</a></li>
                                    <li><a href="our-partners.html"><i class="icon-people icons"></i> Our Partners</a></li>
                                    <li><a href="contact.html"><i class="icon-location-pin icons"></i> Contact us</a></li>
                                    <li><a href="about.html"><i class="icon-graduation icons"></i> About us</a></li>
                                    <li><a href="404.html"><i class="icon-close icons"></i> 404 Not Found</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-list.html"><i class="icon-list icons"></i> Blog List</a></li>
                                    <li><a href="blog-grid.html"><i class="icon-grid icons"></i> Blog Grid</a></li>
                                    <li><a href="blog-article.html"><i class="icon-book-open icons"></i> Article Page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="#">Purchase</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</div>