<div id="bootstrap-touch-slider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="false" >

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- Third Slide -->
        <div class="item active">

            <img src="/assets/img/header-banners/slider1.jpg" alt=""  class="slide-image"/>
            <div class="bs-slider-overlay"></div>

            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left slide_style_top15">
                        <div class="col-md-6">
                            <h1 data-animation="animated fadeIn">Южный речной порт</h1>
                                <p data-animation="animated fadeIn">принимает грузы, следующие как прямым, так и смешанным железнодорожным, водным и автомобильным транспортом</p>
                                <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeIn">Терминал</a>
                                <a href="#" target="_blank"  class="btn btn-primary" data-animation="animated fadeIn">Грузоперевозки</a>
                        </div>
                        <div class="col-md-6">
                            <!--<img src="/assets/img/Elements/steps.png" alt="" data-animation="animated fadeIn" class="slide-image"/>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Second Slide -->
        <div class="item">
            <!-- Slide Background -->
            <img src="/assets/img/header-banners/slider2.jpg" alt=""  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_center">
                <h1 data-animation="animated flipInX">NOW, TODAY EVERYTHING CHANGES</h1>
                <p data-animation="animated fadeIn">Political authentic senate voting chambray quinoa sriracha, tacos skateboard migas farm-to-table.</p>
                <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeIn">Give Donation</a>
                <a href="#" target="_blank"  class="btn btn-primary" data-animation="animated fadeIn">Contact Us</a>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Third Slide -->
        <div class="item">
            <!-- Slide Background -->
            <img src="/assets/img/header-banners/slider3.jpg" alt=""  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_right slide_style_top15">
                <div class="col-md-6 text-center">
                    <img src="/assets/img/Elements/logo-badge.png" width="350" alt="" data-animation="animated flipInX" class="slide-image"/>
                </div>
                <div class="col-md-6">
                    <h1 data-animation="animated fadeIn">PLANS FOR A NEW COUNTRY</h1>
                    <p data-animation="animated fadeIn">Political authentic senate voting chambray quinoa sriracha, tacos skateboard migas farm-to-table.</p>
                    <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeIn">Become Volunteer</a>
                    <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeIn">Give Donation</a>
                </div>
            </div>
        </div>
        <!-- End of Slide -->
    </div><!-- End of Wrapper For Slides -->

    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Назад</span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Вперёд</span>
    </a>

</div> <!-- End  bootstrap-touch-slider Slider -->