<!-- Widget: Categories -->
<aside class="widget widget_categories animateIn" data-animate="fadeIn">
    <h3 class="widget-title">Categories</h3>
    <ul class="">
        <li class="cat-item">
            <a href="#">Senate (4)</a>
        </li>
        <li class="cat-item">
            <a href="#">Politics (3)</a>
        </li>
        <li class="cat-item">
            <a href="#">Nonprofit (7)</a>
        </li>
        <li class="cat-item">
            <a href="#">Government (7)</a>
        </li>
    </ul>
</aside>