<!-- Widget: Recent posts with thumbnails -->
<aside class="widget widget_recent_entries_with_thumbnail animateIn" data-animate="fadeIn">
    <h3 class="widget-title">Recent Posts</h3>
    <ul>
        <li class="blog-post">
            <div class="col-md-3 post-thumbnail">
                <a href="#"><img class="img-rounded" alt="" src="/assets/img/gallery/1.jpg"></a>
            </div>
            <div class="col-md-9 post-details"><a href="#">Vote with us!</a><span class="post-date">March 25, 2017</span></div>
        </li>
        <li class="blog-post">
            <div class="col-md-3 post-thumbnail">
                <a href="#"><img class="img-rounded" alt="" src="/assets/img/gallery/2.jpg"></a>
            </div>
            <div class="col-md-9 post-details"><a href="#">Why Vote with us?</a><span class="post-date">March 25, 2017</span></div>
        </li>
        <li class="blog-post">
            <div class="col-md-3 post-thumbnail">
                <a href="#"><img class="img-rounded" alt="" src="/assets/img/gallery/3.jpg"></a>
            </div>
            <div class="col-md-9 post-details"><a href="#">Donations Available</a><span class="post-date">March 25, 2017</span></div>
        </li>
        <li class="blog-post">
            <div class="col-md-3 post-thumbnail">
                <a href="#"><img class="img-rounded" alt="" src="/assets/img/gallery/4.jpg"></a>
            </div>
            <div class="col-md-9 post-details"><a href="#">Party Cabinet</a><span class="post-date">March 25, 2017</span></div>
        </li>
    </ul>
</aside>