<!-- Widget: Social Media Widget -->
<aside class="widget widget_social_links animateIn" data-animate="fadeIn">
    <h3 class="widget-title">Follow Me</h3>
    <div class="social_links">
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Facebook">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Dribbble">
            <i class="fa fa-dribbble"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Stumbleupon">
            <i class="fa fa-stumbleupon"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="LinkedIn">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Instagram">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Google+">
            <i class="fa fa-google-plus"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Twitter">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="RSS">
            <i class="fa fa-rss"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Tumblr">
            <i class="fa fa-tumblr"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lastfm">
            <i class="fa fa-lastfm"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Behance">
            <i class="fa fa-behance"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Delicious">
            <i class="fa fa-delicious"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Digg">
            <i class="fa fa-digg"></i>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Vine">
            <i class="fa fa-vine"></i>
        </a>
    </div>
</aside>