<!-- Widget: Tag Cloud -->
<aside class="widget widget_tag_cloud animateIn" data-animate="fadeIn">
    <h3 class="widget-title">Tag Cloud</h3>
    <div class="tagcloud">
        <a title="1 topic" href="#">political</a>
        <a title="1 topic" href="#">ngo</a>
        <a title="1 topic" href="#">nonprofit</a>
        <a title="1 topic" href="#">senate</a>
        <a title="1 topic" href="#">government</a>
        <a title="1 topic" href="#">laws</a>
        <a title="1 topic" href="#">govern</a>
    </div>
</aside>