<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>

    {% include head.html %}

</head>

<!-- BODY -->
<body class="home" id="body">

    {% include page-loader.html %}

    {% include header.html %}

    {% include slider.html %}

<!-- MAIN CONTAINER -->
<div id="container" class="main-content">

    {% include sections/achievements.html %}

    {% include sections/news.html %}

    {% include sections/get-involved.html %}

    {% include sections/services.html %}

    {% include sections/testimonials.html %}

    {% include sections/gallery.html %}

</div>

    {% include footer.html %}

    {% include scripts.html %}

</body>
</html>